* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('resources/bg-guess-the-word.jpg');
    background-size: cover;
    background-position: center;
    margin: 10px;
    /* background-image: linear-gradient(90deg, #7429C6 5%, #C951E7 95%);
     */
}

.container {
    background-color: #030616;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
}

.scrambled-word {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #4A5567;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
    min-height: 50px;
    box-shadow: 0px 4px 0px 0px #030616;
}

.scrambled-word span {
    font-size: 2rem;
    font-weight: bold;
    color: #F2F5F9;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 90vw;
}

.input-field {
    width: 100%;
    max-width: 40px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #97A3B6;
    background-color: transparent;
    color: #F2F5F9;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

input:focus {
    outline: none;
    border-color: #672171;
}


.info {
    color: #F2F5F9;
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.random-button,
.reset-button {
    width: 100%;
    font-size: 0.875rem;
    background-color: #C951E7;
    color: #F2F5F9;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 0px #7b248a);
}

#result {
    color: #F2F5F9;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    margin-right: 5px;
    width: 8px;
    height: 8px;
    background-color: #97A3B6;
    border-radius: 50%;
    transition: background-color 0.4s ease, transform 0.2s ease;
}

/* Class for remaining tries (Purple) */
.dot.active {
    background-color: #7429C6;
    /* Violet/Purple color */
    box-shadow: 0 0 5px rgba(138, 43, 226, 0.5);
}

/* Class for used tries (Gray) */
.dot.inactive {
    background-color: #97A3B6;
    /* Gray color */
}

.tries-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}